<launch>
  <arg name="namespace" default="echo"/>
  <arg name="platform_name" default="$(arg namespace)"/>
  <arg name="platform_package" default="echoboat_project11"/>
  <arg name="operator_host"/>

  <arg name="enableBridge" default="true"/>

  <arg name="fcu_url" default="/dev/ttyUSB0:57600" /> <!-- Port et baudrate of the connexion with Pixhawk -->
  <arg name="gcs_url" default="" /> <!-- Retransmission to a GCS like Mavproxy does -->
  <arg name="tgt_system" default="1" /> <!-- Mavlink id of your drone, default is 1 -->
  <arg name="tgt_component" default="1" /> <!-- Mavlink component id of your drone, default is 1 -->
  <arg name="pluginlists_yaml" default="$(find mavros)/launch/apm_pluginlists.yaml"/>
  <arg name="config_yaml" default="$(find mavros)/launch/apm_config.yaml"/>
  <arg name="fcu_protocol" default="v2.0" />

  <include file="$(find project11)/launch/robot_core.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
  </include>

  <group ns="$(arg namespace)">

    <node pkg="mavros" type="mavros_node" name="mavros">


      <param name="fcu_url" value="$(arg fcu_url)" />
      <param name="gcs_url" value="$(arg gcs_url)" />
      <param name="target_system_id" value="$(arg tgt_system)" />
      <param name="target_component_id" value="$(arg tgt_component)" />
      <param name="fcu_protocol" value="$(arg fcu_protocol)" />

      <!-- load blacklist, config -->
      <rosparam command="load" file="$(arg pluginlists_yaml)" />
      <rosparam command="load" file="$(arg config_yaml)" />
    </node>

    <node pkg="s57_grids" type="s57_grids" name="s57_grids"/>

    <node pkg="echo_helm" type="echo_helm_node" name="echo_helm"/>

    <rosparam command="load" file="$(find echoboat_project11)/config/echo.yaml"/>

    <param name="udp_bridge/remotes/operator/connections/default/host" value="$(arg operator_host)"/>

  </group>

  <include file="$(find project11)/launch/platform.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="platform_name" value="$(arg platform_name)"/>
    <arg name="platform_package" value="$(arg platform_package)"/>
  </include>

  <include file="$(find project11)/launch/platform_nav_source.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="platform_name" value="$(arg platform_name)"/>
    <arg name="nav_source" value="mavros"/>
    <arg name="position_topic" value="mavros/global_position/global"/>
    <arg name="orientation_topic" value="mavros/imu/data"/>
    <arg name="velocity_topic" value="mavros/global_position/raw/gps_vel"/>
  </include>


</launch>
