<launch>
  
<!--  

To launch the docker based simulator, in a seperate terminal, run:

roscd echo_helm/scripts
./start_ardupilot_docker_sim.bash 


-->
  
  <arg name="namespace" default="echo"/>
  <arg name="operator_namespace" default="operator"/>
  <arg name="enableBridge" default="false"/>
  <arg name="launchRobot" default="true"/>
  <arg name="launchOperator" default="true"/>
  

  <group if="$(arg launchRobot)">

    <include file="$(find project11)/launch/robot_core.launch">
      <arg name="namespace" value="$(arg namespace)"/>
      <arg name="enableBridge" value="$(arg enableBridge)"/>
    </include>
    <rosparam param="udp_bridge/remotes/operator/connections/default/port" ns="$(arg namespace)" subst_value="True">4201</rosparam>
    <rosparam param="udp_bridge/remotes/operator/connections/default/host" ns="$(arg namespace)" subst_value="True">localhost</rosparam>

    <node pkg="echo_helm" type="echo_helm_node" name="echo_helm" ns="$(arg namespace)">
      <remap from="cmd_vel" to="control/helm"/>
    </node>
    
    <include file="$(find mavros)/launch/apm.launch" ns="$(arg namespace)">
      <arg name="fcu_url" value="tcp://0.0.0.0:5760@"/>
      <arg name="gcs_url" value="udp://@127.0.0.1:14550"/>
      <param name="global_position/tf/send" value="false"/>
      <param name="local_position/tf/send" value="false"/>
    </include>

    <rosparam command="load" file="$(find echoboat_project11)/config/echo.yaml" ns="$(arg namespace)"/>
  </group>

  <group if="$(arg launchOperator)">
    <include file="$(find project11)/launch/operator_core.launch">
      <arg name="namespace" default="$(arg operator_namespace)"/>
      <arg name="robotNamespace" value="$(arg namespace)"/>
      <arg name="enableBridge" value="$(arg enableBridge)"/>
      <arg name="localPort" value="4201"/>
    </include>
      
    <include file="$(find project11)/launch/operator_ui.launch">
      <arg name="namespace" default="$(arg operator_namespace)"/>
      <arg name="robotNamespace" value="$(arg namespace)"/>
    </include>
    
    <rosparam command="load" file="$(find echoboat_project11)/config/echo_operator.yaml" ns="$(arg operator_namespace)"/>
  </group>
</launch>
